@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700;1,900&family=Spartan:wght@100;300;400;500;600;700&display=swap");

@font-face {
  font-family: "colpensiones";
  src: url("../assets/fonts/colpensiones.eot?87694802");
  src: url("../assets/fonts/colpensiones.eot?87694802#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/colpensiones.woff2?87694802") format("woff2"),
    url("../assets/fonts/colpensiones.woff?87694802") format("woff"),
    url("../assets/fonts/colpensiones.ttf?87694802") format("truetype"),
    url("../assets/fonts/colpensiones.svg?87694802#colpensiones") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windassets/zze.s 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'colpensiones';
    src: url('../font/colpensiones.svg?87694802#colpensiones') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "colpensiones";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pensiones:before {
  content: "\e800";
} /* '' */
.icon-beps:before {
  content: "\e801";
} /* '' */
.icon-empleador:before {
  content: "\e802";
} /* '' */
.icon-llamanos:before {
  content: "\e803";
} /* '' */
.icon-te-llamamos:before {
  content: "\e804";
} /* '' */
.icon-chat:before {
  content: "\e805";
} /* '' */
.icon-grupo-1515:before {
  content: "\e806";
} /* '' */
.icon-ubicacion:before {
  content: "\e807";
} /* '' */
.icon-canales:before {
  content: "\e808";
} /* '' */
.icon-exterior:before {
  content: "\e809";
} /* '' */
.icon-sede:before {
  content: "\e80a";
} /* '' */
.icon-educacion:before {
  content: "\e80b";
} /* '' */

body {
  font-size: 18px !important;
}

/* Botones destacado */
.botones_destacados {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  z-index: 10;
  margin-left: 0;
  padding-left: 0;
}
.botones_destacados > div {
  z-index: 10;
}
.botones_destacados a {
  text-decoration: none;
}
.botones_destacados-btn {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* .botones_destacados-btn:hover i {
        color: #fff;
      } */
.botones_destacados-btni {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  border-color: transparent;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botones_destacados-btni img {
  width: 50px;
  height: 50px;
}
.botones_destacados-btni:hover {
  background-color: #00993e;
  transform: scale(1.1);
}
.botones_destacados-p {
  font-family: "Montserrat", sans-serif;
  width: 144px;
  font-size: 1em;
  font-weight: 600;
  color: #999999;
  text-align: center;
  line-height: 1em;
  margin: 10px auto 0;
}
.botones_destacados-p span {
  font-size: 0.85em;
  color: #999999;
  line-height: 14px;
  font-weight: 400;
}
.botones_destacados-p span::before {
  content: "\A";
  white-space: pre;
}

.botones_destacados-grandient1 {
  background: transparent linear-gradient(270deg, #00993e 1%, #019741 100%) 0%
    0% no-repeat padding-box;
}
.botones_destacados-grandient2 {
  background: transparent linear-gradient(270deg, #04904c 1%, #08885a 100%) 0%
    0% no-repeat padding-box;
}
.botones_destacados-grandient3 {
  background: transparent linear-gradient(270deg, #0e7e6c 1%, #14747f 100%) 0%
    0% no-repeat padding-box;
}
.botones_destacados-grandient4 {
  background: transparent linear-gradient(270deg, #196a90 1%, #1f5da6 100%) 0%
    0% no-repeat padding-box;
}
.botones_destacados-grandient5 {
  background: transparent linear-gradient(270deg, #2453b6 1%, #2a48ca 100%) 0%
    0% no-repeat padding-box;
}
.botones_destacados-grandient6 {
  background: transparent linear-gradient(270deg, #2d44d2 1%, #2d44d2 100%) 0%
    0% no-repeat padding-box;
}
/**media query */

@media (max-width: 985px) {
  .botones_destacados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 720px) {
  .botones_destacados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

/* botones a 3 Cards */
.btn_3cards-container {
  display: flex;
  justify-content: center;
}
@media (max-width: 772px) {
  .btn_3cards-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
      "card1-3btn"
      "card2-3btn"
      "card3-3btn";
  }
  .card1-3btn {
    grid-area: card1-3btn;
  }
  .card2-3btn {
    grid-area: card2-3btn;
  }
  .card3-3btn {
    grid-area: card3-3btn;
  }
}
/* Botones a 4 Cards */

.btn_services {
  display: flex;
  justify-content: center;
}

.btn_services-card {
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 190px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.btn_services-card:hover {
  transform: scale(1.09);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn_services-card a {
  text-decoration: none;
}
.btn_services-cardHeader {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 5px 0 5px;
}
.btn_services-cardBody {
  padding: 10px 10px 0 10px;
}
.btn_services-cardBody p {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}
.btn_services-cardBody p span {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 20px;
}
@media (max-width: 985px) {
  .btn_services-card {
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 190px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .btn_services-cardHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 772px) {
  .btn_services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .btn_services-card {
    padding: 0;
    align-self: center;
    justify-self: center;
    width: 130px;
    height: 160px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  .btn_services-cardHeader img {
    width: 80px;
    text-align: center;
  }
  .btn_services-cardBody p {
    font-size: 1.3rem;
  }
  .btn_services-cardBody p span {
    font-size: 1.3rem;
  }
  .btn_services-cardHeader {
    margin-bottom: 0;
    padding: 0;
  }
}

/* Botones a 5 Cards */

.btn_5cards-container {
  display: flex;
  justify-content: center;
}

.btn_5cards-card {
  margin: 0 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 190px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.btn_5cards-card:hover {
  transform: scale(1.09);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn_5cards-card a,
.btn_5cards-container a {
  text-decoration: none;
}

@media (max-width: 985px) {
  .btn_5cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 15px;
    grid-template-areas:
      ". card1 card1 card2 card2 ."
      ". card3 card3 card4 card4 ."
      ". . card5 card5 . .";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .btn_5cards-card {
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 190px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}
@media (max-width: 772px) {
  .btn_5cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 15px;
    grid-template-areas:
      ". card1 card1 card2 card2 ."
      ". card3 card3 card4 card4 ."
      ". . card5 card5 . .";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .btn_5cards-card {
    padding: 0;
    align-self: center;
    justify-self: center;
    width: 130px;
    height: 160px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
}

/* Canales de contacto */
.canalesContacto__h2 {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  font-weight: 700;
  text-align: center;
  font-size: 5rem;
  margin: 50px;
}
.canalesContacto__cards {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.canalesContacto__cards a {
  margin: 0 50px;
  text-align: center;
}
.canalesContacto-cardBody {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}
.canalesContacto-cardBody p span {
  font-family: "Montserrat", sans-serif;
  color: #595959;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 20px;
}

@media (max-width: 772px) {
  .canalesContacto__h2 {
    font-size: 3rem;
  }
  .canalesContacto-cardBody,
  .canalesContacto-cardBody p span {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  .canalesContacto__cards a {
    margin: auto;
    text-align: center;
  }
}

/* footer */
.footer {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #3366cc;
  padding: 5rem 0 5rem 0;
}
.footer__line-right {
  border-right: solid 1px white;
  height: 250px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.footer__logo img {
  margin-bottom: 1em;
}
.footer__central {
  color: white;
}
.footer__central h4,
.footer__right h4 {
  font-size: 1em;
  font-weight: bold;
}
.footer__central p {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
}
.footer__central a {
  text-decoration: underline;
  color: white;
}
.footer__icon-circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3366cc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
}
.footer__redes-container {
  margin: 2em 0 0 1px;
}
.footer__redes {
  display: flex;
  align-items: center;
  padding: 0;
}
.footer__redes p {
  padding-top: 7px;
  padding-left: 7px;
}

.footer__right {
  color: #ffffff;
}

.footer__right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

@media (max-width: 772px) {
  .footer {
    padding: 0 1em 1em 1em;
    margin: 0;
  }
  .footer__logo {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .footer__logo img {
    margin-bottom: 0;
  }
  .footer__line-right {
    border-right: transparent;
    height: 150px;
  }
  .footer__redes-container {
    display: none;
  }
  .footer__right ul {
    font-size: 0.7em;
    padding: 0 2em 0 0;
  }
}

/* footer separator */
.footer__separator-blue {
  height: 5px;
  background-color: #2e45d0;
}
.footer__separator-green {
  height: 5px;
  background-color: #00993e;
}
.footer__separator-red {
  height: 5px;
  background-color: #ed2446;
}

/* video header */
.video__header-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video___header {
  width: 100%;
}

.curve__dividers {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 30px;
  margin: 0;
}

.curve__dividers img {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 1234px) {
  .curve__dividers {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 15px;
    margin: 0;
  }
}
@media (max-width: 1082px) {
  .curve__dividers {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    margin: 0;
  }
}
@media (max-width: 990px) {
  .curve__dividers {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -40px;
    margin: 0;
  }
}
@media (max-width: 759px) {
  .curve__dividers {
    display: none;
  }
}

/* Colores menu degradado */
.menu-principal-azul {
  background: rgb(45, 68, 208);
  background: linear-gradient(
    97deg,
    rgba(45, 68, 208, 1) 0%,
    rgba(14, 107, 212, 1) 76%,
    rgba(0, 126, 214, 1) 100%
  );
}

.menu-principal-verde {
  background: rgb(30, 95, 161);
  background: -moz-linear-gradient(
    97deg,
    rgba(30, 95, 161, 1) 0%,
    rgba(23, 110, 136, 1) 17%,
    rgba(17, 121, 117, 1) 38%,
    rgba(13, 129, 103, 1) 49%,
    rgba(10, 133, 95, 1) 73%,
    rgba(10, 135, 93, 1) 100%
  );
  background: -webkit-linear-gradient(
    97deg,
    rgba(30, 95, 161, 1) 0%,
    rgba(23, 110, 136, 1) 17%,
    rgba(17, 121, 117, 1) 38%,
    rgba(13, 129, 103, 1) 49%,
    rgba(10, 133, 95, 1) 73%,
    rgba(10, 135, 93, 1) 100%
  );
  background: linear-gradient(
    97deg,
    rgba(30, 95, 161, 1) 0%,
    rgba(23, 110, 136, 1) 17%,
    rgba(17, 121, 117, 1) 38%,
    rgba(13, 129, 103, 1) 49%,
    rgba(10, 133, 95, 1) 73%,
    rgba(10, 135, 93, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e5fa1",endColorstr="#0a875d",GradientType=1);
}

/**Estilos menu_canales*/

.menu_canales-item,
.menu_canales-button {
  background: #ed2446;
  border-radius: 100%;
  width: 63px;
  height: 63px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu_canales-open {
  display: none;
}

.menu_canales-button i {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  color: white;
  font-size: 35px;
}

.menu_canales-item i {
  display: flex;
  justify-content: center;
  padding: 18px;
  color: white;
  font-size: 25px;
}
.menu_canales-item:hover i {
  color: #ed2446;
}
.menu_canales-open:checked + .menu_canales-button i {
  display: none;
}

.menu_canales-close {
  width: 25px;
  height: 3px;
  background: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.menu_canales-close1 {
  transform: translate3d(0, -8px, 0);
}

.menu_canales-close2 {
  transform: translate3d(0, 8px, 0);
}

.menu_canales-open:checked + .menu_canales-button .menu_canales-close1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
  display: block;
}

.menu_canales-open:checked + .menu_canales-button .menu_canales-close2 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
  display: block;
}

.menu_canales {
  position: fixed;
  left: 92%;
  top: 78%;
  bottom: 40px;
  right: 40px;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  box-sizing: border-box;
  font-size: 20px;
  z-index: 100;
}

.menu_canales-item:hover {
  background: white;
  color: #ed2446;
}
.menu_canales-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(7) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(8) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(9) {
  transition-duration: 180ms;
}

.menu_canales-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu_canales-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu_canales-open:checked + .menu_canales-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu_canales-open:checked ~ .menu_canales-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(3) {
  transition-duration: 180ms;
  transform: translate3d(-40.08361px, -95.99997px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(4) {
  transition-duration: 280ms;
  transform: translate3d(90.9466px, -70.47586px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(5) {
  transition-duration: 380ms;
  transform: translate3d(95.9466px, 42.47586px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(6) {
  transition-duration: 480ms;
  transform: translate3d(0.08361px, 100.99997px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(7) {
  transition-duration: 580ms;
  transform: translate3d(-95.86291px, 22.62064px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(8) {
  transition-duration: 680ms;
  transform: translate3d(-91.03006px, -52.33095px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(9) {
  transition-duration: 780ms;
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

/**media query */
@media (min-width: 1200px) {
  .menu_canales {
    position: fixed;
    left: 90%;
    top: 78%;
    bottom: 40px;
    right: 40px;
    margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 100;
  }
}
@media (max-width: 1200px) {
  .menu_canales {
    position: fixed;
    left: 85%;
    bottom: 78%;
    bottom: 40px;
    right: 40px;
    margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 100;
  }
}
@media (max-width: 768px) {
  .menu_canales {
    position: fixed;
    left: 88vw;
    top: 85vh;
    bottom: 40px;
    right: 20px;
    margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 100;
  }
  .menu_canales-open:checked ~ .menu_canales-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -60.99997px, 0);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(0.08361px, -125.99997px, 0);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(0.08361px, -190.99997px, 0);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(6) {
    transition-duration: 480ms;
    transform: translate3d(0.08361px, -255.99997px, 0);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(7) {
    transition-duration: 580ms;
    transform: translate3d(0.08361px, -320.99997px, 0);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(8) {
    transition-duration: 680ms;
    transform: translate3d(0.08361px, -385.99997px, 0);
  }
  .menu_canales-open:checked ~ .menu_canales-item:nth-child(9) {
    transition-duration: 780ms;
    transform: translate3d(0.08361px, -400.99997px, 0);
  }
}
